@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  background: url(http://getdrawings.com/vectors/simple-vector-wallpaper-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  color: rgb(224, 224, 224);
  transition: all 0.3s;
}

a:hover {
  color: #e52d27 !important;
  text-decoration: none !important;
  cursor: pointer;
}

.form-box {
  border-radius: 10px;
  height: auto;
  width: 40%;
  margin-top: 60px;
  min-width: 100px !important;
  background-color: #bdbdbd8a;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.322),
    0 4px 6px -2px rgba(0, 0, 0, 0.514);
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 70%;
  margin-top: 40px;
  background-color: #00000050;
  flex-wrap: wrap;
  padding-bottom: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.322),
    0 4px 6px -2px rgba(0, 0, 0, 0.514);
}

.home-container img {
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
  display: block;
}

.no-radius {
  border-radius: 0 !important;
}

.home-container button {
  width: 45%;
  margin: 5px !important;
  padding: 20px !important;
  border: 2px solid #ffffff92;
  border-radius: 10px !important;
}

.red-to-black {
  background-image: linear-gradient(to left, #1f1f1f, #a71404);
}

.black-to-red {
  background-image: linear-gradient(to left, #a71404, #333);
}

.form-header {
  border-radius: 10px;
  background-image: linear-gradient(to right, #e52d27, #b31217);
  color: white !important;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.checkbox label input[type="checkbox"]:checked + .checkbox-decorator .check,
label.checkbox-inline
  input[type="checkbox"]:checked
  + .checkbox-decorator
  .check {
  color: #e52d27 !important;
  border-color: #e52d27 !important;
}

.checkbox
  label
  input[type="checkbox"]:checked
  + .checkbox-decorator
  .check:before,
label.checkbox-inline
  input[type="checkbox"]:checked
  + .checkbox-decorator
  .check:before {
  color: #e52d27 !important;
}

hr {
  width: 100% !important;
  border-top: 1px solid #a7a7a7;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.sexy-text {
  font-size: 3em;
  color: #eee;
  font-family: "Amatic SC", cursive;
}

.kick-btn {
  background: #e52d27 !important;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused {
  background-image: linear-gradient(0deg, grey 2px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0) !important;
}

* {
  list-style-type: none !important;
}

.bmd-form-group.is-focused * {
  color: grey;
}

.list-container {
  margin: 20px;
  width: calc(100%-40px);
  padding: 10px;
}

.list-container li {
  margin: 30px;
  padding: 10px;
  background: linear-gradient(to right, #b4b4b4a6, #2c2c2c93);
  box-shadow: 0 10px 15px -3px #00000073, 0 4px 6px -2px #00000037;
  border-radius: 10px;
}

.list-img {
  height: 100px !important;
  width: auto !important;
}

a.user-label:hover {
  color: white !important;
}

#DN_placeholder {
  font-weight: bold;
  color: #ccb9a7;
}

.list-unstyled {
  min-width: 200px !important;
  width: 100% !important;
}

.script-item {
    margin-left: 20% !important;
    width: 60% !important;
    min-width: 300px !important;
}

.kfm-card, .card-footer {
    min-width: 200px !important;
    width: 80vw;
    background-color: #b8b8b8de;
}

.kfm-card {
    margin-left: 10vw !important;
    margin-top: 20px;
}
