<div ng-init="init()" style="display: flex; width: 100%; height: 100%; justify-content: center; align-items: center;">
    <div class="form-box">
        <div class="form-header">
            <h2>Sign Up</h2>
        </div>
        <form style="padding: 20px">
            <div class="form-group">
                <label for="username-label" class="bmd-label-floating">Fullname</label>
                <input ng-model="form.display_name" type="text" class="form-control" id="username-label">
            </div>
            <div class="form-group">
                <label for="email-label" class="bmd-label-floating">Email address</label>
                <input ng-model="form.email" type="email" class="form-control" id="email-label">
            </div>
            <div class="form-group">
                <label for="pass-label" class="bmd-label-floating">Password</label>
                <input ng-model="form.password" type="password" class="form-control" id="pass-label">
            </div>
            <div class="form-check" style="margin-bottom: 15px;">
                <input type="checkbox" class="form-check-input" ng-model="form.is_company"> Are you a company?
            </div>
            <button type="button" ng-click="register()" class="btn btn-raised btn-primary kick-btn">Sign Up</button>
            <a ng-click="goToLogin()">Already have an account?</a>
        </form>
    </div>
</div>