<div style="display: flex; width: 100%; height: 100%; justify-content: center; align-items: center;">
    <div class="form-box">
        <div class="form-header">
            <h2>Sign Up</h2>
        </div>
        <form style="padding: 20px">
            <div class="form-group">
                <label for="username-label" class="bmd-label-floating">Username</label>
                <input type="email" class="form-control" id="username-label">
            </div>
            <div class="form-group">
                <label for="email-label" class="bmd-label-floating">Email address</label>
                <input type="email" class="form-control" id="email-label">
            </div>
            <div class="form-group">
                <label for="pass-label" class="bmd-label-floating">Password</label>
                <input type="password" class="form-control" id="pass-label">
            </div>
            <button type="button" class="btn btn-raised btn-primary kick-btn">Sign Up</button>
            <a href="/login">Already have an account?</a>
        </form>
    </div>
</div>