<div ng-init="init()">
    <div class="card" style="margin: 10px; background: #e0e0e0a4 !important">
        <div class="card-header" style="background-color: #a7211c; color: white; font-weight: bold;">
            <h2>{{ title }}</h2>
        </div>
        <div class="card-body" style="padding: 20px; background: transparent !important;">
            <form>
                <div class="form-group">
                    <label for="title" class="bmd-label-floating">Title</label>
                    <input type="text" ng-model="scriptForm['title']" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="exampleSelect2" class="bmd-label-floating">Genre</label>
                    <select ng-model="scriptForm['genre_id']" class="form-control" id="exampleSelect2">
                        <option ng-selected="x.id == scriptForm['genre_id']"value="{{ x.id }}" ng-repeat="x in genres">
                            {{x.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description" class="bmd-label-floating">Description</label>
                    <textarea class="form-control" ng-model="scriptForm['description']" id="description"
                        rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="trailer" class="bmd-label-floating">Trailer</label>
                    <input type="text" ng-model="scriptForm['trailer']" class="form-control" id="trailer">
                </div>
                <button type="button" ng-click="submit()" class="btn btn-raised btn-primary kick-btn">Submit</button>
            </form>
        </div>
    </div>
</div>