<div ng-init="init()">
    <div class="card" style="margin: 10px; background: #e0e0e0a4 !important">
        <div class="card-header" style="background-color: #e52d27; color: white; font-weight: bold;">
            <h2>{{ title }}</h2>
        </div>
        <div class="card-body" style="padding: 20px; background: transparent !important;">
            <form>
                <div class="form-group">
                    <label for="title" class="bmd-label-floating">Naslov</label>
                    <input type="email" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="exampleSelect2" class="bmd-label-floating">Izberi žanr</label>
                    <select class="form-control" id="exampleSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea" class="bmd-label-floating">Krajši opis</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="bmd-label-floating">Trailer</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
            </form>
        </div>
      </div>
</div>