<div ng-init="init()" class="list-container">
    <ul class="list-unstyled">
        <li ng-repeat="script in scripts track by $index" class="media script-item" style="margin-bottom: 10px;">
            <img class="mr-3 list-img" ng-src="script.img" onerror="this.src='./../resources/img-error.png'">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ script.title }}</h5>
                <small>{{ script.datecreated }}</small><br/>
                <small>Description:</small> {{ script.description ? script.description : '/' }}<br/>
                <a href="{{ script.trailer }}">{{ script.trailer }}</a>
            </div>
            <div>
                <button ng-if="userID == script.user_id" type="button" ng-click="goToEditScript(script.id)" class="btn btn-raised btn-primary kick-btn">Edit</button>
                <button type="button" ng-click="goToViewScript(script.id)" class="btn btn-raised btn-primary kick-btn">View</button>
            </div>
        </li>
    </ul>
</div>
